@import "../../App.css";

.section-about {
  padding: 4rem 0;
}

.thumb-info-dt {
  margin: 1rem 0;
}

.abt-thb-img img {
  width: 100%;
}

.about-header-tle-main {
  text-transform: capitalize;
  color: var(--primary_color);
  font-size: 14px;
  font-weight: 400;
}

.about-header-tle-main span {
  padding: 0.25rem 0.35rem;
  border-radius: 50rem !important;
  background-color: var(--pill_bg_color);
}

.about-header {
  margin: 0.65rem 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 2rem;
  text-transform: capitalize;
}

.about-info {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.65rem;
}

.about-ft {
  padding: 1rem 0;
}

.abt-ft-item {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 2rem;
  text-transform: capitalize;
}

.about-more {
  color: #fff;
  background-color: var(--primary_color);
}

.about-more:hover {
  color: #fff;
}

.about-more i {
  background-color: #fff;
  color: var(--primary_color);
  border-radius: 50%;
  padding: 0.25rem;
  margin-left: 0.5rem;
}

.about-contact {
  color: var(--primary_color);
  margin-left: 1rem;
  border: 1px solid var(--primary_color);
}

.about-contact:hover {
  color: var(--primary_color);
}

.about-contact i {
  border-radius: 50%;
  padding: 0.25rem;
  color: #fff;
  margin-left: 0.5rem;
  background-color: var(--primary_color);
}

.about-sec {
  padding: 4rem 0;
}

/* below-about-section  */
.sp-main-pg {
  text-align: center;
}
.about-sec-item {
  padding: 2rem 0;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem 0;
}

.about-sec-item-cont {
  padding: 1rem;
}

.span-about-sec-pill {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 24px;
  color: #000;
}

.span-about-sec-tle {
  margin-top: 0.65rem;
  font-size: 18px;
}

.sp-main-pg-desc-info {
  padding: 1rem 0;
  text-align: center;
  font-size: 2.35rem;
  margin-bottom: 1rem;
}

.about-sec-thumb {
  padding: 1rem 0;
}

.about-sec-thumb img {
  width: 90px;
  height: 90px;
}

.span-about-sec-info {
  font-size: 16px;
  line-height: 1.35rem;
  padding: 0.5rem 0;
}

.span-about-sec-btn {
  border: 1px solid var(--primary_color);
  color: var(--primary_color);
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 6px;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
}

.span-about-sec-btn i {
  color: #fff;
  border-radius: 50%;
  line-height: 1rem;
  padding: 0.25rem;
  background-color: var(--primary_color);
}

/* WRAPPER-SECTION */
.wrap-content {
  display: flex;
  padding: 4rem 2rem;
  justify-content: space-between;
  color: #fff !important;
  align-items: center;
  background-image: url("../images//local/hero-wrap-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
}

.wrap-cont {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.35rem;
}

.wrap-link-item {
  color: var(--primary_color);
  background-color: #fff !important;
}

.wrap-link-item:hover {
  color: var(--primary_color);
}

.wrap-link-item i {
  background-color: var(--primary_color);
  color: #fff;
}

.vs-sm-scr {
  display: none;
}

/* WHAT WE DO SECTION  */
.section-pages-header {
  text-align: center;
  padding: 4rem 0;
}

.page-header-tle {
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  line-height: 1.4em;
}

.pg-sc-link {
  text-decoration: none;
  color: #fff;
  padding: 0 1rem;
  text-transform: capitalize;
}

.pg-sc-link:hover {
  color: #fff;
}

.home-section-link {
  padding-left: 0;
  border-right: 1px solid #fff;
}

.section-pages-header {
  background-image: url("../images/hero/dk-wrap-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom, center;
}

.service-item {
  margin: 2rem 0 0 0;
  padding: 2rem 0;
  align-items: center;
  border-bottom: 1px solid #dedede;
}

.service-item-thum-info-tle {
  font-weight: 600;
  /* padding: 0 0 2rem 0; */
  text-transform: capitalize;
  font-size: 24px;
}

.service-item-thumb {
  width: 100%;
  height: 600px;
}

.service-item-thumb img {
  width: 100%;
  height: 100%;
}

.service-item-thum-info-tle-desc {
  font-size: 14px;
  font-weight: 300;
}

.service-item-thum-info-tle-desc span {
  font-weight: 400;
  margin-right: 0.5rem;
}

.pg-hd-tle-item {
  text-align: center;
  padding: 2rem 0 0 0;
  font-size: 36px;
}

/* ABOUT-PAGE-SECTION-CONTENT  */
.page-headline {
  padding: 2rem 0;
}

.about-headline {
  padding: 2rem 0;
  line-height: 1.3rem;
  font-size: 45px;
  font-weight: 600;
  border-bottom: 1px solid #dedede;
}

.about-info {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;
  display: block;
  text-align: justify;
  text-justify: inter-word;
}

.abt-cont-info-more {
  font-size: 16px;
  font-weight: 300;
}

.abt-cont-info span {
  color: var(--primary_color);
  font-style: italic;
}

/* POTFOLIO IMAGES  */
.ft-pr-header {
  text-align: center;
  padding: 0.65rem;
  text-transform: capitalize;
  font-size: 36px;
}
.potfolio-section {
  padding: 4rem 0;
  background-color: var(--wrapper_second_color);
}
.pt-items {
  margin: 1rem 0;
  cursor: pointer;
  position: relative;
}
.pt-items img {
  width: 100%;
  height: auto;
}

/* hover effect  */

.pt-item-info {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  display: inline;
  text-align: center !important;
  align-items: center !important;
  left: 0;
  padding-top: 15rem;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
}

.pt-desc {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1;
}

.pt-items:hover .pt-item-info {
  visibility: visible;
  opacity: 1;
}

/* CONTACT US PAGE  */
.contact-items {
  padding: 4rem 0;
}

.contact-header {
  font-size: 45px;
  font-weight: 700;
}

.form-names {
  display: flex;
  align-items: center;
}

.f-name {
  width: 50%;
  margin-right: 0.65rem;
}

.s-name {
  width: 50%;
}

.form-input-field {
  width: 100%;
  outline: none;
  text-transform: capitalize;
  margin: 1rem 0;
  color: #666;
  padding: 0.75em;
  height: auto;
  border: 1px solid #666;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.frm-button {
  color: #666;
  padding: 0.35rem 1.35rem;
  text-transform: capitalize;
  height: auto;
  border: 1px solid #666;
}

.contact-icon {
  font-size: 18px;
  font-weight: 300;
  padding: 0.675rem 0;
  line-height: 1.35rem;
}

.sp-cnt-ic i {
  color: var(--primary_color);
  margin-right: 0.35rem;
}

/* SOCIAL--MEDIA--FOOTER--LONKS  */
.soc-ico {
  padding: 0.5rem 0 0 0;
}
.soc-ico-ft {
  font-size: 16px;
  padding-right: 1rem;
  color: var(--pill_bg_color);
}

.soc-ico-ft:hover {
  opacity: 0.5;
}

/* RESPONSIVE-DEVICES  */
/* small screen-device  */

@media screen and (max-width: 960px) {
  .section-about {
    padding: 0;
  }
  .smdv-hd {
    display: none;
  }

  .about-thumb {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  .about-thumb-info-cont {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2rem;
  }
  /* what we do  */
  .about-sec {
    border-top: 1px solid #dedede;
  }

  .sp-main-pg-desc-info {
    font-size: 16px;
    font-weight: 300;
    padding: 0.5rem 0;
  }

  /* wrap-content  */
}
