@import "../../App.css";

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.cr-ct-dt {
  position: absolute;
  right: 15%;
  bottom: 40% !important;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  display: inline-block !important;
  justify-content: center !important;
}

.cr-header-tle {
  font-weight: 600;
  font-size: 1.85rem !important;
}

.cr-header-tle-desc {
  padding: 1rem 0;
  font-size: 2.25rem !important;
}

.btn-ind {
  position: absolute;
  right: 0;
  bottom: 20%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
